# SQL assignment

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [102]:
df = pd.read_csv('/Users/brennandonnell/Documents/grad_school/data900/sql/names/fullnames.csv', 
                index_col = 0)#.drop(['Unnamed: 0'], 1)

/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Helpful [link](https://medium.com/jbennetcodes/how-to-rewrite-your-sql-queries-in-pandas-and-more-149d341fc53e)

In [9]:
df.agg({'frequency':['max']})

     frequency
max      99686

In [158]:
d1 = pd.DataFrame(df[[#'babyname', 
    'frequency', 'm/f', 'year']])

In [159]:
d2 = pd.DataFrame(d1.groupby(['m/f','year']).max())
d2

          frequency
m/f year
F   1880       7065
    1881       6919
    1882       8148
    1883       8012
    1884       9217
    1885       9128
    1886       9889
    1887       9888
    1888      11754
    1889      11648
    1890      12078
    1891      11703
    1892      13172
    1893      12784
    1894      13151
    1895      13446
    1896      13811
    1897      13413
    1898      14406
    1899      13172
    1900      16706
    1901      13136
    1902      14486
    1903      14275
    1904      14961
    1905      16067
    1906      16370
    1907      17580
    1908      18665
    1909      19259
...             ...
M   1988      64133
    1989      65382
    1990      65282
    1991      60785
    1992      54386
    1993      49550
    1994      44470
    1995      41402
    1996      38365
    1997      37548
    1998      36614
    1999      35361
    2000      34471
    2001      32541
    2002      30568
    2003      29630
    2004      27879
    2005      25830
    2006      24841
    2007      24273
    2008      22591
    2009      21169
    2010      22117
    2011      20365
    2012      19069
    2013      18241
    2014      19286
    2015      19613
    2016      19082
    2017      18728

[276 rows x 1 columns]

In [161]:
# pd.DataFrame(d1.groupby(['m/f','year']).max())
d3 = d2.reset_index().sort_values(['year'],ascending=[True])

In [163]:
d3.nunique()

m/f            2
year         138
frequency    273
dtype: int64

In [164]:
d3.shape

(276, 3)

In [176]:
d4 = d3.merge(df, left_on='frequency', right_on='', how='inner')

ValueError: columns overlap but no suffix specified: Index(['m/f', 'frequency', 'year'], dtype='object')